<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="images/m1.png"> -->
  </head>
  <body>
  </body>
  <html>
  <img src='images/m1.png' />
  <img src='images/m2.png' />
  <img src='images/m3.png' />
  <img src='images/m4.png' />
  <img src='images/m5.png' />

  </html>
